<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div class="main-content">
        {{>header}}   
        <p>This website was created by Swanand Deshmukh. It uses mapbox and weathercast to get the weather data</p> 
    </div>
    {{>footer}}
</body>
</html>